@import url('https://fonts.googleapis.com/css?family=Space+Grotesk:thin,extrelight,light,regular,regularitalic,medium,mediumitalic,semibold,semibolditalic,bold,bolditalic');
@import url('https://fonts.googleapis.com/css?family=Chivo:thin,extrelight,light,regular,regularitalic,medium,mediumitalic,semibold,semibolditalic,bold,bolditalic');


:root {
    --bs-font-sans-serif: 'Chivo', sans-serif !important;
    --bs-font-family: 'Chivo', sans-serif !important;
}


html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background: rgb(0 251 245);
    background: linear-gradient(90deg,
            rgba(0, 251, 245, 100%) 0%,
            rgba(0, 61, 218, 100%) 25%,
            rgba(0, 116, 182, 100%) 50%,
            rgba(0, 144, 118, 100%) 75%,
            rgba(61, 139, 0, 100%) 100%);
}

a {
    color: inherit;
    text-decoration: none !important;
}

button {
    box-sizing: border-box;
    transition: all 0.1s ease-out;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 100%;

    background: #071314;
    border: 1.5px solid #009176;
    border-radius: 8px;

    color: #09D9D4;
    font-family: 'Chivo';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}

button:hover {
    background: #09D9D4;
    border-color: #09D9D4;
    color: #071314;
}

button:active {
    background: white;
    border-color: white;
    color: #071314;
}
