@import url('https://fonts.googleapis.com/css?family=Space+Grotesk:thin,extrelight,light,regular,regularitalic,medium,mediumitalic,semibold,semibolditalic,bold,bolditalic');
@import url('https://fonts.googleapis.com/css?family=Chivo:thin,extrelight,light,regular,regularitalic,medium,mediumitalic,semibold,semibolditalic,bold,bolditalic');


:root {
    --bs-font-sans-serif: 'Chivo', sans-serif !important;
    --bs-font-family: 'Chivo', sans-serif !important;
}


html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background: rgb(0 251 245);
    background: linear-gradient(90deg,
            rgba(0, 251, 245, 100%) 0%,
            rgba(0, 61, 218, 100%) 25%,
            rgba(0, 116, 182, 100%) 50%,
            rgba(0, 144, 118, 100%) 75%,
            rgba(61, 139, 0, 100%) 100%);
}

.root {
    position: relative;
    min-height: 100vh;

    background: rgb(20, 20, 20);
    background: linear-gradient(180deg, rgba(15, 15, 15, 1) 0%, rgba(20, 20, 20, 0.95) 30%, rgba(20, 20, 20, 0.85) 75%, rgba(20, 20, 20, 0.7) 100%);
}

a {
    color: inherit;
    text-decoration: none !important;
}

button {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 100%;

    background: #071314;
    border: 1.5px solid #009176;
    border-radius: 8px;

    color: #09D9D4;
    font-family: 'Chivo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 50%);
    backdrop-filter: blur(5px);
}

.ghost {
    height: 15vh;
}

.email-bar {
    height: 48px;
    max-width: 600px;
    min-width: 400px;
}

.subs-button {
    width: 96px;
    margin-left: -128px;
}
